body {
    margin: 0;
}


a {
    color: inherit;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 0.8rem
}

.logo-heading{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    margin-top: auto;
}

a:hover {
    cursor: pointer;
    border-bottom: 0.1rem solid black;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border: none;
    width: 10%;

}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
}

.nav-position {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0;
    width: 100%; 
}