body {
    margin: 0;
}

.page-main-container {
    color: white;
    background-color: #071527;
    height: 100vh;

}

.section-heading{
    font-size: 1.5rem;
}

.section-paragraph {
    font-size: 1rem;
    line-height: 1.6;
}