body {
    margin: 0;
}

.product-card-container {
    border: 1px solid grey;
    padding: 1rem;
    height: 100%;
}


.products-main-container {
    margin-top: 5rem;
}

.product-image-container {
    text-align: center;
    margin-bottom: 1rem;
}

.image-size {
    width: 45%;

}

.product-heading-price-container {
    display: flex;
}

.product-heading {
    font-size: 99%;
}

.product-rating-price-container {
    display: flex;
    justify-content: space-between;
}

.price-icon {
    font-size: 70%;
    margin-top: 10%;
    margin-right: 5%;
}

.price-container {
    display: flex;
}

.price-para {
    font-size: 95%;
}

.rating-para {
    font-size: 95%;
}

.category-para {
    font-size: 85%;
}

.description-para {
    font-size: 90%;
}

.spinner-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Error Messages */

.api-unsuccessful {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}