body {
    margin: 0;
}

.formContainer {
    padding: 1.5rem;
}

input {
    color: black;
}

span {
    color: #071527;
}

label {
    font-size: 0.9rem;

}

i {
    font-size: 1.4rem;

}

.password-show-and-hide-icon {
    font-size: 1.4rem;
    margin-top: 0.2rem;

}

a {
    width: 100%;
}
p {
    font-size: 80%;
}

hr {
    width: 80%;
    background: gray;
}


.signin-link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.signup-heading {
    font-size: 1.5rem;
}
.main-container {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/hannah-morgan-ycVFts5Ma4s-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    box-sizing: border-box;
}

.form-container {
    width: 90%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 2rem;
}

.selected-input-styling {
    height: 1.2rem;
    border-radius: 0.3rem;
    border: 0.1rem solid black;
    padding: 0.1rem;
    width: 80%;
    margin-left: 0.5rem;
    
}

.selected-input-styling-password {
    height: 1.2rem;
    border-radius: 0.3rem;
    border: 0.1rem solid black;
    padding: 0.1rem;
    width: 75%;
    margin: 0 0.3rem;
}

select {
    background-color: white;
    outline: none;
}

.select-styling {
    height: 1.5rem;
}

.errors-para {
    color: rgb(218, 62, 62);
    font-size: 0.8rem;
    text-align: center;
}

.inside-container {
    margin-top: 0.5rem;
    margin: auto;
    padding-top: 1rem;
    border: 0.5rem ;
    display: flex;
}

.display-control {
    display: none;
}


.password-container-adjusting {
    width: 100%;

}

.password-child-container {
    border: 0.1rem solid black;
    height: 1.7rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 80%;
}


/* Password Guidelines */
.password-guidelines-container {
    margin-top: 1.3rem;
}

.password-guide-heading {
    font-size: 90%;
}

.password-guide-para {
    font-size: 80%;
}

/* terms-container */
.terms-container {
    text-align: center;
    margin: 1.3rem 0;
}

/* submit-btn */
.submit-btn {
    text-align: center;
}
button {
    width: 38%;
    height: 1.8rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #FF6363;
    color: white;
    padding: 0.1rem;
    margin: 0.2rem 0;
}

button:hover {
    cursor: pointer;
}

.success-main-container {
    height: 100vh;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #071527;
    flex-direction: column;
    box-sizing: border-box;
}

.success-child-container {
    background-color: #f3f1ef;
    color: #071527;
    padding: 1rem;
    text-align: center;
    width: 80%;
}

.success-button-containers {
    text-align: center;
    width: 80%;
    margin-top: 1rem;
}

@media screen and (min-width: 641px) and (max-width: 1006px) {
    .main-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("./images/hannah-morgan-ycVFts5Ma4s-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
       
    }

    .form-container {
        width: 70%;
        height: 90%;
        background-color: #fff;
        padding: 2rem;
    }

    i {
        font-size: 1.3rem;
    
    }
    .password-show-and-hide-icon {
        font-size: 1.2rem;
        margin-top: 0.2rem;
    
    }
    
    .selected-input-styling {
        height: 1.7rem;
        border-radius: 0.3rem;
        border: 0.1rem solid black;
        padding: 0.1rem;
        width: 80%;
        margin-left: 0.5rem;
        
    }
    .selected-input-styling-password {
        height: 1.7rem;
        border-radius: 0.3rem;
        border: 0.1rem solid black;
        padding: 0.1rem;
        width: 75%;
        margin: 0 0.3rem;
    }

    .select-styling {
        height: 2.1rem;
    }
    
    /* Names Containers - first and last names */
    .names-container {
    display: flex;
    justify-content: space-between;
   }
   
   .individual-container {
    width: 40%;
    }
   /* dob-gender-container */
   .dob-gender-container {
       display: flex;
       justify-content:  space-between;
   }
   
   /* role-email-container */
   .role-email-container {
       display: flex;
       justify-content:  space-between;
   }
   
   /* passwords-container */
   .passwords-container {
       display: flex;
       justify-content:  space-between;
   }
   
   .password-container-adjusting {
       width: 100%;
   
   }
   
}

@media screen and (min-width: 1007px) {
    .main-container {
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-image: url("./images/hannah-morgan-ycVFts5Ma4s-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
    }

    .form-container {
        width: 45%;
        height: 75%;
        background-color: #fff;
        margin-right: 10rem;
        border-radius: 2rem;
        padding: 2rem;
    }

    i {
        font-size: 1.2rem;
    
    }
    .password-show-and-hide-icon {
        font-size: 1.4rem;
        margin-top: 0.3rem;
    
    }
    

    .selected-input-styling {
        height: 1.4rem;
        border-radius: 0.3rem;
        border: 0.1rem solid black;
        padding: 0.1rem;
        width: 80%;
        margin-left: 0.5rem;
        
    }

    .selected-input-styling-password {
        height: 1.4rem;
        border-radius: 0.3rem;
        border: 0.1rem solid black;
        padding: 0.1rem;
        width: 80%;
        margin-left: 0.5rem;
    }

    .select-styling {
        height: 2rem;
    }
    
    /* Names Containers - first and last names */
    .names-container {
    display: flex;
    justify-content: space-between;
   }
   
   .individual-container {
       width: 40%;
   }
   /* dob-gender-container */
   .dob-gender-container {
       display: flex;
       justify-content:space-between;
   }
   
   /* role-email-container */
   .role-email-container {
       display: flex;
       justify-content: space-between;
   }
   
   /* passwords-container */
   .passwords-container {
       display: flex;
       justify-content: space-between;
   }
   
   .password-container-adjusting {
       width: 100%;
   
   }

   button {
    width: 40%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #FF6363;
    color: white;
    padding: 0.1rem;
    margin: 0.2rem 0;
    font-size: 0.9rem;
}
}