.id-container {
    margin-top: 5rem;
    text-align: center;
}

form {
    margin: 0;
}

.error-text {
    color: red;
}

.spinner-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-update-successful-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Error Messages */

.api-unsuccessful {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}